body {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("https://media-cldnry.s-nbcnews.com/image/upload/t_fit-1240w,f_auto,q_auto:best/newscms/2014_10/240016/140309-cosmos-jms-1934.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-color: black;
  height: 100vh;
}

.fixedHeight {
  height: 400px;
  overflow: hidden;
}

.fixedHeight .carousel-item img {
  width: 65%;
  object-fit: contain;
}

.centered-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
